<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- <bean id="serviceBean" 
        class="com.proajax.chapt7.service.AdvancedHelloWorldService"/> -->
    <bean id="serviceBean" 
        class="com.proajax.chapt7.service.SimpleHelloWorldService"/>

    <bean id="springController" 
        class="com.proajax.chapt7.ui.HelloWorldController">
        <property name="service">
            <ref bean="serviceBean"/>
        </property>
    </bean>
    
    <bean id="urlMapping" 
        class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/hello.app">springController</prop>
            </props>
        </property>
    </bean>

    <bean id="viewResolver" 
      class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.JstlView</value>
        </property>
        <property name="suffix"><value>.jsp</value></property>
    </bean>
</beans>