<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>springdispatch</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>JSONServlet</servlet-name>
        <servlet-class>org.swato.json_rpc.servlet.JSONServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>springdispatch</servlet-name>
        <url-pattern>*.app</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>JSONServlet</servlet-name>
        <url-pattern>/SwatoDemo</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/beans.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Inventory Control System</web-resource-name>
            <description>Inventory control system</description>
            <url-pattern>/jsp/inventory/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>manager-role</role-name>
            <role-name>trainee-role</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>DWR Requests</web-resource-name>
            <description>DWR Requests</description>
            <url-pattern>/dwr/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>manager-role</role-name>
            <role-name>trainee-role</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/jsp/inventory/login.jsp</form-login-page>
            <form-error-page>/jsp/inventory/login_failure.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>manager-role</role-name>
    </security-role>
    <security-role>
        <role-name>trainee-role</role-name>
    </security-role>
</web-app>
